<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ item.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Cantidad</ion-label>
    <ion-datetime
      displayFormat="m"
      minuteValues="1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20"
      value="1"
    ></ion-datetime>
  </ion-item>

  <ion-grid margin>
    <ion-row align-items-center>
      <ion-col align-self-center>
        <img src="{{ item.image }}" height="100" />
      </ion-col>
      <ion-col align-self-center>
        <ion-button color="success" (click)="presentAlert()">PAGAR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
