<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" *ngFor="let item of items" (click)="abrirDetalles(item)">
    <img src="{{ item.image }}" alt="" />
    <ion-card-header>
      <ion-card-subtitle>{{ item.id }}</ion-card-subtitle>
      <ion-card-title>{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ item.description }}</p>
    </ion-card-content>
  </ion-card>

  
</ion-content>
