<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Especificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>{{ item.name }}</h1>

  <img src="{{ item.image }}" />

  <ion-text>
    <h1>{{ item.description }}</h1>
  </ion-text>

  <div>
    <ion-button color="warning">Favoritos</ion-button>

    <ion-button (click)="abrirDetalles(item)">Comprar</ion-button>
  </div>
</ion-content>
